* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #b9b9b9, #ffffff);
  overflow: hidden;
}
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60vh;
  z-index: 0;
  overflow: hidden;
}

.waves svg {
  width: 200%; 
  height: 100%;
  transform: scaleY(1); 
  animation: waveMove 10s linear infinite alternate;
}

@keyframes waveMove {
  0% { transform: scaleY(1) translateX(0); }
  100% { transform: scaleY(1) translateX(-25%); }
}




.index1 {
  position: relative;
  z-index: 1;
  background: rgba(24, 24, 24, 0.9);
  width: 500px;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}
.index1 img{
    width: 75%;
}
.index1 h1 {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 50px;
}
.index1 p {
  color: #fff;
  margin-bottom:60px;
}

.index1 input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.index1 a {
  width: 100%;
  margin-top: 25px;
  padding: 12px 50px;
  background-color: #ffa115;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;

  text-decoration: none;
}


.index1 a:hover {
  background-color: #f7f7f7;
  color: rgba(24, 24, 24);;
}
