<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Painel do Administrador</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
  <div class="container">
    <section class="topo">
      <div class="texto-cabecalho">
        <h2>Painel de Administrador</h2>
      </div>
      <div class="informacoes">
        <div class="box">
          <h3>34</h3>
          <p>Usuarios ativos</p>
        </div>
        <div class="box">
          <h3>34</h3>
          <p>Usuarios ativos</p>
        </div>
        <div class="box">
          <h3>343</h3>
          <p>Usuarios ativos</p>
        </div>
      </div>
    </section>
    <section class="graph">
      <div class="container">
        
      </div>
    </section>
    <a href="/admin/cadastrar">Cadastrar usuário</a>
    <a href="/trocar-senha">Trocar Senha</a>
    <a href="/logout">Sair</a>
  </div>
</body>
</html>
