<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Painel do Administrador</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
  <div class="container">
    <section class="topo">
      <div class="texto-cabecalho">
        <h2>Painel de Administrador</h2>
        <section class="buttons">
          <a href="/admin/usuarios">Usuarios Cadastrados</a>
          <a href="/trocar-senha">Trocar Senha</a>
          <a href="/logout">Sair</a>
       </section>
      </div>
      <div class="informacoes">
        <div class="box">
          <h3>{{ ativos }}</h3>
          <p>Usuarios ativos</p>
        </div>
        <div class="box">
          <h3>{{ inativos }}</h3>
          <p>Usuarios inativos</p>
        </div>
        <div class="box">
          <h3>{{ qntResposta }}</h3>
          <p>Respostas</p>
        </div>
      </div>

    </section>
    <section class="graph">
      <div class="container">
        <!-- Passa os dados via dataset -->
        <canvas id="graficoTipos" data-tipos='{{ tipos|tojson }}'></canvas>
      </div>
    </section>
    <footer class="footer">
      <img src="{{ url_for('static', filename='escoladapele.jpg') }}">
      <p>&copy; 2025 Escola da pele. Todos os direitos reservados.</p>
    </footer>


 

  </div>
  <!-- Importa Chart.js e seu script -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='grafico_tipos.js') }}"></script>
</body>
</html>
