<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
  <div class="container">
    <h2>Olá, <span>{{ nome }}</span>.</h2>
    <div class="detalhes">
      <div id="questionariosRespondidos">
        <p>{{ qntResposta }} formulários respondidos</p>
      </div>
    </div>

    <button id="btnCopiarLink" class="copy-button">📋 Copiar link de formulário</button>
    <button id="btnWhatsAppLink"  class="copy-button">📋 Compartilhar no WhatsApp</button>
    
    <input type="text" id="pesquisaNome" placeholder="Pesquisar por nome..." class="input-pesquisa" />

    <h3>Respostas recebidas:</h3>
    <div id="listaRespostas">
      {% if respostas %}
        {% for r in respostas %}
          <div class="resposta-card" data-nome="{{ r.nome | lower }}">
            <div class="card-header">
              <div class="tipoPeleBox">
                <div class="end-type">
                  <div class="typeChar">{{ r.OxD }}</div>
                  <div class="typeChar">{{ r.SxR }}</div>
                  <div class="typeChar">{{ r.PxN }}</div>
                  <div class="typeChar">{{ r.WxT }}</div>
                </div>
                <div class="tipoPele2">Nome: {{ r.nome }}</div>
                <div class="tipoPele2">Telefone: {{ r.telefone }}</div>


              </div>
              <div class="seta">&#9654;</div>
            </div>
            <div class="card-body">
              <div class="infoInicial">
                <div class="tipoPele">
                  Hidratação: {{ r.hidratacao }}
                </div>
                <div class="tipoPele">
                  Data do Envio: {{ r.data }}
                </div>   
              </div>   
              <h3>Respostas do formulário:</h3>
                  <div class="respostas-container">
                  <!-- Respostas Curtas (Alternativas) -->
                  <div class="respostas-curtas">
                    {% for pergunta, valor in r.respostas_json.items() %}
                      {% if valor|length <= 1 %}
                        <div class="resposta-box">
                          <span><strong>P{{ pergunta }}:</strong> {{ valor }}</span>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <!-- Respostas Longas (Textos Digitados) -->
                  <div class="respostas-longas">
                    {% for pergunta, valor in r.respostas_json.items() %}
                      {% if valor|length > 1 %}
                        <div class="resposta-longa">
                          <strong>Pergunta {{ pergunta }}:</strong>
                          <pre>{{ valor }}</pre>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="botaoEmail">
                  <button class="enviarCopiaPorEmail">Enviar relatorio por email</button>
                </div>
                
              <hr>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Nenhuma resposta ainda.</p>
      {% endif %}
    </div>

    <div class="links">
      <a href="/logout">Sair</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
