<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
  <div class="container">
    <h2>Olá, <span>{{ nome }}</span>.</h2>
    <div class="detalhes">
      <div id="questionariosRespondidos">
        <p>{{ qntResposta }} formulários respondidos</p>
      </div>
    </div>

    <button id="btnCopiarLink" class="copy-button">📋 Copiar link de formulário</button>
    <input type="text" id="pesquisaNome" placeholder="Pesquisar por nome..." class="input-pesquisa" />

    <h3>Respostas recebidas:</h3>
    <div id="listaRespostas">
      {% if respostas %}
        {% for r in respostas %}
          <div class="resposta-card" data-nome="{{ r[2] | lower }}">
            <div class="card-header">
              <div class="tipoPeleBox">
                <div class="tipoPele2">Nome: {{ r[2] }}</div>
                <div class="tipoPele2">Telefone: {{ r[3] }}</div>

              </div>
              <div class="seta">&#9654;</div>
            </div>
            <div class="card-body">
              <strong>Respostas em JSON:</strong>
                <div class="tipoPele">Tipo: {{ r[6] }}</div>
                <div class="tipoPele">Reatividade: {{ r[7] }}</div>
                <div class="tipoPele">Pigmentação: {{ r[8] }}</div>
                <div class="tipoPele">Tônus: {{ r[9] }}</div>
                <div class="tipoPele">Hidratação: {{ r[10] }}</div>
              <pre>{{ r[5] }}</pre>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Nenhuma resposta ainda.</p>
      {% endif %}
    </div>

    <div class="links">
      <a href="/logout">Sair</a> |
      <a href="/trocar-senha">Trocar Senha</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
