<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
  <div class="container">
    <h2>Olá, <span>{{nome}}</span>.</h2>
    <div class="detalhes">
      <div id="questionariosRespondidos">
        <p>{{qntResposta}}</p>
      </div>
    </div>
    <!-- Botão de copiar link -->
    <button id="btnCopiarLink" class="copy-button">📋 Copiar link de formulário</button>

    <!-- Campo de pesquisa -->
    <input
      type="text"
      id="pesquisaNome"
      placeholder="Pesquisar formulário pelo nome..."
      class="input-pesquisa"
    />

    <h3>Respostas recebidas:</h3>

    <div id="listaRespostas">
      {% if respostas %}
        {% for r in respostas %}
          <div class="resposta-card" data-nome="{{ r[2] | lower }}">
            <div class="card-header">
              <div class="tipoPeleBox">
                <div  class="tipoPele2">Nome:  {{ r[2] }}</div>
                <div  class="tipoPele2">Telefone:  {{ r[3] }}</div>
                
               
                <div class="tipoPele">{{ r[30] }}</div>
                <div class="tipoPele">{{ r[31] }}</div>
                <div class="tipoPele">{{ r[32] }}</div>
                <div class="tipoPele">{{ r[33] }}</div>
              </div>
              <div class="seta">&#9654;</div>
            </div>

            <div class="card-body">
              <strong>Respostas:</strong><br>
              <div class="respostas">
                <div class="respostasUnicas">
                  {% for i in range(4, 15) %}
                    <strong class="resposta">{{i-3}}:{{r[i]}}</strong>
                  {% endfor %}
                </div>
                
                <div class="respostasUnicas">
                  {% for i in range(15, 26) %}
                    <strong class="resposta">{{i-3}}:{{r[i]}}</strong>
                  {% endfor %}
                </div>

                
               
              </div>
             
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>Nenhuma resposta encontrada ainda.</p>
      {% endif %}
    </div>

    <div class="links">
      <a href="/logout">Sair</a> |
      <a href="/trocar-senha">Trocar Senha</a>
    </div>
  </div>

  <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
