<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <link rel="stylesheet" href="/app/static/login.css"> 
</head>
<body>
    <div class="waves">
        <svg viewBox="0 0 1200 200" preserveAspectRatio="none">
        <path d="M0,0 C150,150 1050,-50 1200,100 L1200,200 L0,200 Z" fill="#181818" />
        
        </svg>

      </div>
  <div class="login-container">
    <h2>Login</h2>
    <form method="post">
      <input type="email" placeholder="E-email" name="email" required>
      <input type="password" placeholder="Senha" name="senha" required>
      <button type="submit">Entrar</button>
    </form>
  </div>
</body>

</html>
