<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Usuários Cadastrados</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='usuarios.css') }}">
</head>
<body>
  <div class="container">
    <section class="topo">
      <div class="texto-cabecalho">
        <h2>Painel de Administrador</h2>
        <p>Usuarios cadastrados</p>
      </div>
      <div class="informacoes">
        <div class="box">
          <h3>{{ ativos }}</h3>
          <p>Usuarios ativos</p>
        </div>
        <div class="box">
          <h3>{{ inativos }}</h3>
          <p>Usuarios inativos</p>
        </div>
      </div>
    </section>
    <section class="options_button">
      <div class="cadastro">
        <a href="/admin">Inicio🏠</a>
        <a href="/admin/cadastrar">Novo Usuário</a>
        <a href="/admin/cadastrar-em-massa">Cadastrar em massa</a>
        <a href="/dashboard">Questionario</a>
      </div>

      <div class="filtro">
        Filtrar:
        <a href="/admin/usuarios?filtro=todos">Todos</a> 
        <a href="/admin/usuarios?filtro=ativos">Ativos</a> 
        <a href="/admin/usuarios?filtro=inativos">Inativos</a>
      </div>
    </section>

    <input type="text" id="pesquisaNome" placeholder="Pesquisar por email..." class="input-pesquisa" />
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Status</th>
          <th>Expiração</th>
          <th>Respostas</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for u in usuarios %}
        <tr>
          <td data-label="Email">{{ u[1] }}</td>
          <td data-label="Nome">{{ u[2] }}</td>
          <td data-label="Tipo">{{ u[3] }}</td>
          <td data-label="Status" class="status-{{ 'ativo' if u[4] == 1 else 'inativo' }}">
            {{ 'Ativo' if u[4] == 1 else 'Inativo' }}
          </td>
          <td data-label="Expiração">{{ u[5] }}</td>
          <td data-label="Respostas">{{ u[6] }}</td>
          <td data-label="Ações">
            <a href="/admin/usuario/{{ u[0] }}/toggle">
              {{ 'Desativar' if u[4] == 1 else 'Ativar' }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script src="{{ url_for('static', filename='admin_usuario.js') }}"></script>
</body>
</html>